## Repaso

1. Variables y tipos:
    - Creación de variables
    - String
    - Enteros
    - Booleanos
    - None (Ningún tipo)
    - Diccionarios
2. Operadores lógicos:
    - Suma
    - Resta
    - División
    - División absoluta
    - Exponente
    - Multiplicación
    - And, or, not
3. Listas, Tuplas y Set (Conjuntos):
    - Acceso a dato por posiciones
    - Tamaño de lista 
    - Listas dentro de listas
    - Añadir datos a la listas
    - Eliminar datos de listas
    - Coger x elementos de listas [[:x]]
4. Bucles:
    - For
    - range
    - enumerate
    - while
    - break
    - Acumuladores
5. Funciones:
    - Función con parámetros
    - Funciones dentro de Funciones
    - Funciones recursivas
    - Return
6. Input 
7. Importar módulos (librería, paquete)
8. Ficheros
9. Try / Except

### Diccionarios

Los diccionarios son pares de valores asociados. Hay un valor primario que se relaciona con el otro. Se denomina "Key" a este valor y "Value" al valor relacionado. No hay restricción sobre qué tipo de variables pueden ser los valores de la "Key" y del "Value". Ejemplos:

In [11]:
diccionario = {}
diccionario["Key"] = "Value"
diccionario

{'Key': 'Value'}

In [12]:
diccionario[1] = "Uno"
diccionario["Uno"] = 1
diccionario["Hola"] = "Adios"
print(diccionario)
print("Tamaño del diccionario:", len(diccionario))

{'Key': 'Value', 1: 'Uno', 'Uno': 1, 'Hola': 'Adios'}
Tamaño del diccionario: 4

In [13]:
# Se pueden actualizar valores asociados a las keys:

diccionario["Hola"] = "Adios Actualizado"
diccionario

{'Key': 'Value', 1: 'Uno', 'Uno': 1, 'Hola': 'Adios Actualizado'}

In [14]:
password = "123456"
password_encripted = "jif8ud9gsjidhufjidgi"

dict1 = {}
dict1[password_encripted] = password

dict1

{'jif8ud9gsjidhufjidgi': '123456'}

In [38]:
# Los valores pueden ser cualquier tipo de variable pero las keys NO pueden ser listas. 

lista_key = 1
lista_value = ["x", "y"]

diccionario[lista_key] = lista_value
diccionario

{'Key': 'Value',
 1: ['x', 'y'],
 'Hola': 'Adios Actualizado',
 'Key de lista': ['x', 'y'],
 None: 'value'}

In [16]:
nueva_key = "Key de lista"
lista_value = ["x", "y"]

diccionario[nueva_key] = lista_value
diccionario

{'Key': 'Value',
 1: 'Uno',
 'Uno': 1,
 'Hola': 'Adios Actualizado',
 'Key de lista': ['x', 'y']}

In [20]:
diccionario[None] = "value"
diccionario

{'Key': 'Value',
 1: 'value',
 'Uno': 1,
 'Hola': 'Adios Actualizado',
 'Key de lista': ['x', 'y'],
 2.2: 'value',
 None: 'value'}

In [21]:
# Para recorrer las keys:

for key in diccionario.keys():
    print(key)

Key
1
Uno
Hola
Key de lista
2.2
None

In [22]:
# Para recorrer los valores:

for value in diccionario.values():
    print(value)

Value
value
1
Adios Actualizado
['x', 'y']
value
value

In [23]:
# Para recorrer teniendo la key y el valor a la vez:

for key, value in diccionario.items():
    print("-----")
    print("Key:", key)
    print("Value:", value)

-----
Key: Key
Value: Value
-----
Key: 1
Value: value
-----
Key: Uno
Value: 1
-----
Key: Hola
Value: Adios Actualizado
-----
Key: Key de lista
Value: ['x', 'y']
-----
Key: 2.2
Value: value
-----
Key: None
Value: value

In [25]:
# Para borrar elemento de key
del diccionario[2.2]
diccionario

{'Key': 'Value',
 1: 'value',
 'Hola': 'Adios Actualizado',
 'Key de lista': ['x', 'y'],
 None: 'value'}

In [26]:
# Crear un diccionario añadiendo keys y values manualmente: 

dict2 = {"Key": "val", "k":"v", 1:1, "Lista":[2,2,3]}
dict2

{'Key': 'val', 'k': 'v', 1: 1, 'Lista': [2, 2, 3]}

In [ ]:
lista = [3,7,29]
for x in enumerate(lista):

In [28]:
for i, (k, v) in enumerate(dict2.items()):
    print(i)
    print(k)

0
Key
1
k
2
1
3
Lista

In [29]:
# Comprobar valores en diccionario

if "k" in dict2:
    print(True)

if "v" in dict2:
    print(1)
else: 
    print(0)

if "v" in dict2.values():
    print("v en values")
else:
    print(False)

True
0
v en values

In [30]:
dict2

{'Key': 'val', 'k': 'v', 1: 1, 'Lista': [2, 2, 3]}

In [31]:
# Coger el valor a partir de la key. Hay veces que no solo sabemos las keys. Ejemplo: id clientes - contraseña.

value_from_key = dict2.get("Lista")
print(value_from_key)

[2, 2, 3]

In [39]:
v = dict2["Lista"]
v

[2, 2, 3]

In [33]:
nombre_alumno = "Raul"

altura = 2.2
peso = 78
edad = 25

diccionario_nombre = {}
diccionario_nombre[nombre_alumno] = {"Altura": altura, "Peso": peso, "Edad": edad}

diccionario_nombre

{'Raul': {'Altura': 2.2, 'Peso': 78, 'Edad': 25}}

In [34]:
diccionario_nombre.get("Raul")

{'Altura': 2.2, 'Peso': 78, 'Edad': 25}

In [35]:
lista = [2.2, 78, 25]

dict3 = {}
acum = 0
for elemento in lista:
    dict3[acum] = elemento
    acum += 1

dict3

{0: 2.2, 1: 78, 2: 25}

In [36]:
nombres = ["Raul", "Manuel", "Paco"]
alturas = [2.9, 1.2, 2.1]

pesos = [30, 60, 60]

diccionario_na = {}
for indice, elemento in enumerate(nombres):
    diccionario_na[elemento] = alturas[indice]

diccionario_na

{'Raul': 2.9, 'Manuel': 1.2, 'Paco': 2.1}

In [37]:
diccionario_na2 = dict(zip(nombres, alturas))
diccionario_na2

{'Raul': 2.9, 'Manuel': 1.2, 'Paco': 2.1}

In [ ]:
diccionario_na2 = dict(zip(nombres, [alturas, pesos]))
diccionario_na2

### 9. Ejercicios: 

Crea dos listas: una que tenga 4 nombres de ciudades y otra que tenga 4 lugares emblemáticos de la ciudad. 

A partir de métodos con diccionarios:

- Crea un diccionario con un entero 5 como key y "val" como su value. 

- Crea una función que a reciba dos listas 'lista1' y 'lista2' por parámetro y retorne un diccionario teniendo como keys cada elemento de 'lista1' y como values los elementos de 'lista2'. Llama a la función con las listas que has creado antes para que devuelva un diccionario con cada ciudad como key asociado a un lugar emblemático como value. 

- Crea una función que, a partir de dos listas, retorne un diccionario en el que cada key sea el nombre de un alumno y su value debe ser la altura.

### Funciones de colección

In [40]:
lista = [8, "platano", "madrid", 19]
tamano_lista = len(lista)



mitad_lista1 = lista[:tamano_lista//2]
mitad_lista2 = lista[tamano_lista//2:]

print("mitad_lista1:", mitad_lista1)
print("mitad_lista2:", mitad_lista2)

mitad_lista1: [8, 'platano']
mitad_lista2: ['madrid', 19]

In [56]:
11 // 4

2

In [41]:
lista

[8, 'platano', 'madrid', 19]

In [87]:
lista_parte1 = lista[0:2]

# Abajo notación matemática
#[0, 2)
lista_parte1

[8, 'platano']

In [45]:
lista_parte1 = lista[1:2]
lista_parte1

['platano']

In [46]:
lista

[8, 'platano', 'madrid', 19]

In [64]:
start = 2
stop = -1

lista_parte1 = lista[-4:]
lista_parte1

[8, 'platano', 'madrid']

In [48]:
lista_parte1 = lista[start:]
lista_parte1

['madrid', 19]

In [59]:
lista[1:3]

['platano', 'madrid']

In [58]:
lista

[8, 'platano', 'madrid', 19]

### Try except

In [65]:
hola_str = "hola"
try:
    hola_int = int(hola_str)
except Exception as error:
    print(error)

invalid literal for int() with base 10: 'hola'

In [66]:
hola_str = "hola"
try:
    hola_int = int(hola_str)
except Exception as error:
    print("Has tenido un error")

Has tenido un error

In [84]:
def funcion_suma(param1, param2):
    try:
        suma = param1 + param2
        print(suma)
    except Exception as error:
        print("Ha habido un error en funcion_suma")
        print(error)
        #funcion_suma(str(param1), int(param2))

funcion_suma("ghola", 4)

x = 3
x

Ha habido un error
can only concatenate str (not "int") to str

3

In [85]:
funcion_x()

NameError: name 'funcion_x' is not defined

In [77]:
funcion_suma("hola", 4)

Tiene que ser un número!!!

In [97]:
lista = ["banana", "manzana", 2, "sedal"]

In [98]:
for x in lista:
    lista.remove(x)
    print(lista)

lista

['manzana', 2, 'sedal']
['manzana', 'sedal']

['manzana', 'sedal']

In [100]:
lista = ["banana", "manzana", 2, "sedal"]
for p, e in enumerate(lista):
    print(p)
    print(e)
    lista.remove(e)
lista

In [101]:
for p, e in enumerate(lista):
    print(p)
    print(e)
    lista.remove(e)
lista

0
1

['manzana', 'sedal']

In [102]:
lista = ["banana", "manzana", 2, "sedal"]
for p, e in enumerate(lista):
    print(p)
    print(e)
    lista.pop(p)
lista

0
banana
1
2

['manzana', 'sedal']

In [106]:
lista = ["banana", "manzana", 2, "sedal"]
for p, e in enumerate(lista):
    print(p)
    print(e)
    print("Lista[-1]-->", lista[-1])
    lista.remove(lista[-1])
lista

0
banana
Lista[-1]--> sedal
1
manzana
Lista[-1]--> 2

['banana', 'manzana']

In [ ]:
lista = ["banana", "manzana", 2, "sedal"]
tamano_lista = len(lista)

for

In [110]:
lista = ["banana", "manzana", 2, "sedal"]
for p, e in enumerate(lista):
    print("Posicion de elemento:", p)
    print("Elemento:", e)
    print("Lista--->",lista)
    lista.pop(0)
    print("Lista después de borrar--->",lista)
lista

Posicion de elemento: 0
Elemento: banana
Lista---> ['banana', 'manzana', 2, 'sedal']
Lista después de borrar---> ['manzana', 2, 'sedal']
Posicion de elemento: 1
Elemento: 2
Lista---> ['manzana', 2, 'sedal']
Lista después de borrar---> [2, 'sedal']

[2, 'sedal']

In [116]:
lista = ["banana", "manzana", 2, "sedal"]
def f(l):
    for p, e in enumerate(l):
        l.pop(0)
        return ("Lista después de borrar--->",lista)
x = f(l=lista)
print(x)
lista

('Lista después de borrar--->', ['manzana', 2, 'sedal'])

['manzana', 2, 'sedal']

In [113]:
def d():
    return 2, "x", "m", 45

dos, equis, var3, var4 = d()

In [114]:
todo = d()
todo

(2, 'x', 'm', 45)

In [115]:
todo[0]

2

In [112]:
lista = ["banana", "manzana", 2, "sedal"]

range4 = [0,1,2,3]
print("Lista:", lista)
for posicion in range(len(lista)):
    lista.pop(0)
    print("lista actualizada", lista)

Lista: ['banana', 'manzana', 2, 'sedal']
lista actualizada ['manzana', 2, 'sedal']
lista actualizada [2, 'sedal']
lista actualizada ['sedal']
lista actualizada []

In [117]:
range_ = [0,1,2,3,4,5]

for i in range(len(range_)):
    if i == 0 or i == 2:
        range_.pop(i)
range_

[1, 2, 4, 5]

In [129]:
def eliminador_generico(salto, lista):
    eliminados = 0
    for acum in range(len(lista)):
        if acum % salto == 0:
            lista.pop(acum - eliminados)
            eliminados += 1
    return lista

lista = [0,2,4,6,8,10,12, 14, 16, 18]
eliminador_generico(salto=4, lista=lista)

[2, 4, 6, 10, 12, 14, 18]

In [136]:
lista = [0,2,4,6,8,10,12, 14, 16, 18]
lista[::2]

[0, 6, 8, 12, 16]

In [138]:
lista = [0,6,6,6,8,10,12, 14, 16, 18]

for x in lista[::3]:
    lista.remove(x)
lista

[6, 6, 8, 10, 14, 16]

In [ ]:
def eliminador_generico(salto, lista):
    eliminados = 0
    posicion_ultima = None
    for acum in range(len(lista)):
        if acum % numero == 0:

        if acum % salto == 0:
            lista.pop(acum - eliminados)
            posicion_ultima = acum - eliminados
            eliminados += 1
    return lista

lista = [0,2,4,6,8,10,12, 14, 16, 18]
eliminador_generico(salto=4, lista=lista)

In [ ]:
acum = 1
for i in